@import '../header.css';

/**************************************************
     * NOTE: Custom Grid for Forecast Page
 *************************************************/
.layout-grid-forecasts-page {
  display: grid;
  width: 100%;
  height: calc(100vh - var(--header-height));
  gap: 0.2fr;
  /* 🎷Get that golden ratio going on  */
  grid-template-columns: 1fr 0.382fr; 
  grid-template-rows: 0.15fr 0.08fr 1fr;
  grid-template-areas:
    'locationHeader settings'
    'chartHeader settings'
    'graph settings';
}

/* Grid area assignments */
.location-header {
  grid-area: locationHeader;
}

.settings-panel {
  grid-area: settings;
}

.chart-header {
  grid-area: chartHeader;
}

.forecast-graph {
  grid-area: graph;
}
